.myBackground{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(205,0,118);
    background: linear-gradient(137deg, rgba(205,0,118,1) 0%, rgba(85,38,185,1) 68%);
}

.whiteBox{
    background-color: white;
    padding: 20px;
    min-width: 300px;
    height: 70%;
    width: 30%;
    border: 1px solid #333;
}